html, body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
}
#root{
  width: 100%;
  height: 100%;
}
:focus{
  outline: none;
}